.wrapper {
    min-height: 100vh;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 16px;
}

.site-page {
    padding-bottom: 104px;
    flex: 1 1 auto;

    @media (max-width: 992px) {
        padding-bottom: 80px;
    }
}
