<header class="site-header">
    <div class="container">
        <div class="site-header__body">
            <div class="site-header__logo">
                <img width="72" height="72" src="@img/logo.svg" alt="Logo" title="Logo" />
            </div>
            <nav class="site-header__menu menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a data-anchor href="#about" class="menu__link">Wer bin ich?</a>
                    </li>
                    <li class="menu__item">
                        <a data-anchor href="#achievements" class="menu__link">Meine Errungenschaften</a>
                    </li>
                    <li class="menu__item">
                        <a data-anchor href="#history" class="menu__link">Meine Geschichte</a>
                    </li>
                </ul>
            </nav>
            <a data-anchor href="#contacts" class="site-header__button button"> Jetzt kontaktieren </a>
        </div>
    </div>
</header>
